.tags{
  display: flex;
  gap: 20px;
    &__detail{
      background-color:#FF6060;
      border-radius: 10px;
      color:white;
      font-size: 1.2vw;
      font-weight:bold;
      padding : 2px 15px;
    }

}