 .collapse{
  background-color:transparent;

    &__header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color:#FF6060;
      border-radius: 5px;
      margin :15px 0 0 0;
    }
    &__title{
      color: white;
      margin: 5px;
      font-size: small;
    }
    &__arrow {
      cursor: pointer;
      transition : transform 0.6s ease;
        &.open{
          transform:rotate(-180deg);
        }
    }
    &__content{
      margin: 0;
      max-height: 0;
      overflow: hidden;
      background-color: #F6F6F673;
      transition: max-height 0.8s ease-out, padding 0.8s ease-out;
       &.open{
          max-height: 100px;
          margin:0
        }
      
    }
  }
