.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    width: clamp(120px, 14vw, 220px); //(min pref max)
    height: auto;
  }
  &__nav {
    display: flex;
    gap: 60px;
    @media (max-width: 480px) {
      gap: 20px;
      font-size: 0.8rem;
    }
  }
  &__link {
    text-decoration: none;

    &--active {
      text-decoration: underline;
    }

    &:visited {
      color: black;
    }
  }
}
