.header {
  display: flex;
  align-items: center;
  justify-content:space-between;
    img{
      width: clamp(120px, 14vw, 220px); //(min pref max)
      height: auto;
    }
    &__nav {
      display: flex;
      gap:40px;
    
    }
      &__link{
        text-decoration: none;
        
        &--active {
          text-decoration: underline;
        }
        
        &:visited{
          color:black;
        }
      }
}
