footer{
  background-color: black;
  text-align: center;
  padding: 40px;
  margin-top : 20px;
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
  box-sizing: border-box;
p {
  color: white;
}
}