footer{
  background-color: black;
  text-align: center;
  padding: 40px;
  margin-top : 20px;
  max-width: none;
  width:100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
  

p {
  color: white;
}
}