.avatar{
  display: flex;
  align-items: center;
  
    &__name{
      color:#FF6060 ;
      width: 80px;
      text-align: right;
      margin-left: auto;
    }
    &__picture{
    width: 10vmin;
    height: 10vmin;
    min-width: 40px;
    max-width: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10px ;
      @media (max-width :767px){
        width: 12vmin;
        height: 12vmin;
    }
}
}